<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <div class="navbar">
      <img src="/Bookstore/src/assets/images/education@2x.png" style="margin-left: 30px;">
      <a class="active" href="#">BOOK STORE</a>
    </div>
</header> 
<h1 class="cart-head">MyCart ({{bookIdLIst.length}})</h1>
<div class="container">
  <div style="margin-left: 20px;" *ngFor = "let item of carts"><br>
    
    <div class="main-content">
        <div class="logo-d">
            <img class="logo" src = {{item.book.logo}}>
        </div>
        
        <div style="margin-left: 30px; margin-top: 17px;">
            <span class="book-name">{{item.book.name}}</span>
            <h6 class="book-author">{{item.book.author}}</h6>
            <p class="book-price">Rs.{{item.book.price}}</p>
            <div>
                <button class="bt" type="button" (click)="minus(item.cart_id, item.quantity, item.book.book_id)" style="margin-right: 5px;" ><i class = "fa fa-minus"></i> </button>
                <input style="width: 20px; text-align: center;" type="text" [value] = "item.quantity">
                <button class="bt" type="button" (click)="plus(item.cart_id, item.quantity, item.book.book_id)" style="margin-left: 5px;"><i class = "fa fa-plus"></i> </button>
                <a style="margin-left: 30px; cursor: pointer;" (click) = "onRemove(item.cart_id)">Remove</a>
            </div>
        </div>
    </div>
  </div>
  <button *ngIf = "!custDetails && bookIdLIst.length" (click)= onPlaceOrder(); class="btn btn-primary btn-sm order" >PLACE ORDER</button><br><br>
</div>


<div class="container"><br>
  <div style="margin-left: 20px;">
    <div style="display: flex;">
  <h1 class="sub-head">CUSTOMER DETAILS</h1>
  <h3 style="margin-left: 80%;" *ngIf="checkout">Edit</h3>
</div>

<form [formGroup] = "formGroup "  (ngSubmit)="onSubmit()" novalidate *ngIf = "custDetails" >

  <div >
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Name"  formControlName="first_name">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Phone Number" formControlName="phone_no">
    </mat-form-field>
    &nbsp;
  </div>
  <div >
    <mat-form-field appearance="outline">
      <mat-label>Pincode</mat-label>
      <input matInput placeholder="Pincode"  formControlName="pin_code">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Locality</mat-label>
      <input matInput placeholder="Phone Number"  formControlName="locality">
    </mat-form-field>
    &nbsp;
  </div>
  <div >
    <mat-form-field style="width: 51%; " appearance="outline">
      <mat-label>Address</mat-label>
      <input  matInput placeholder="Address"  formControlName="address">
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline">
      <mat-label>City/Town</mat-label>
      <input  matInput placeholder="city/town"  formControlName="city">
    </mat-form-field>
    &nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Landmark</mat-label>
      <input  matInput placeholder="Landmark" formControlName="landmark">
    </mat-form-field><br>
    <!-- &nbsp; -->
  </div>
  <div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="type">
      <mat-radio-button class="example-radio-button" *ngFor="let i of types" [value]="i" (click) = "onContinue()">{{i}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <button type="submit" class="btn btn-primary btn-sm order" [disabled] ="!continue"  >CONTINUE</button><br><br>
</form>
</div>
</div>

<div class="container"><br>
<div style="margin-left: 20px;">
  <h1 class="sub-head">ORDER SUMMARY</h1>
  <div *ngIf="checkout">
    <div *ngFor = "let item of carts">
      <div style="margin-left: 20px;"><br>
        
        <div class="main-content">
            <div class="logo-d">
                <img class="logo" src = {{item.book.logo}}>
            </div>
            
            <div style="margin-left: 30px;">
                <span >{{item.book.name}}</span>
                <h6>{{item.book.author}}</h6>
                <p class="card-text" style="color: black;"><b>Rs.{{item.book.price*item.quantity}}</b></p>
            </div>
        </div>
      </div>
    </div><br>
    <button type="button" class="btn btn-primary btn-sm order" [routerLink]="['/feedback', orderId]" routerLinkActive="router-link-active" (click)="onRemoveAll()">CHECKOUT</button><br><br>
  </div>
</div>
</div><br>
