<header class="header content-header">
    <div class="logo-content">
        <img src="../../../assets/images/education.png" alt="Logo Image">
        <div>
            <span class="content-header book-store">Bookstore</span>
        </div>
    </div>
    <div>
    <mat-label class="welcome-message1" type="text" >Welcome to The Altaf BookStore!</mat-label>
    <br>
    <mat-label class="welcome-message2" type="text" title="we">A One Stop Portal to Get Books of your Choice!</mat-label>
    </div>
    <div class="cart-content">
        <img src="../../../assets/images/supermarket.png" alt="cart image">
        <div>
            <span class="content-header cart-items">Cart</span>
        </div>
    </div>
   
</header>
