<div class="form-content">
    <form class="form" [formGroup]="forgotPasswordForm">
    <div class="form-head"> Forgot Password </div>

    <!--Input Email ID -->
    <mat-form-field class="example-full-width" appearance="fill">
        <label class="label-text" for="emailId">Your EmailId</label>
        <input matInput type="name" class="form-control" placeholder="Enter Your Email id to receive token" formControlName="emailId">
    </mat-form-field>

    <!-- A token to be sent to emailId if the emailid is registered --- if email is correct the show other form fields -->
    <div>
        Error message : The email id is not registered with us.
    </div>


    <div class="buttonParent">
    <a routerLink="/home-page">
        <button mat-raised-button color="accent" class="resetButton button cancelButton">Cancel</button>
    </a>
    <div class="submit-reset">
        <button mat-raised-button type="submit" class="button submitButton" id="submitButton" (click)="onSubmit()" >Submit</button>
        <button mat-raised-button color="accent" type="reset" class="resetButton button">Reset</button>
    </div>
    </div>
    </form>
</div>
