.card {
    text-align: center;
    background: white;
}

.container {
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 17%;
    border: 1px solid #A03037;
}


.head{
    font-family: emoji;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #A03037;
}

.otp{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
}

.cursor {
    cursor: pointer;
    margin-left: 10px;
}

.navbar {
    width: 100%;
    background-color: #A03037;
    overflow: auto;
    display: flex;
    flex-direction: row;
  }
  
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: emoji;
  }