<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="header content-header">
    <div class="logo-content">
        <img src="../../../assets/images/education.png" alt="Logo Image">
        <div>
            <span class="content-header book-store">Bookstore</span>
        </div>
    </div>
    <div>
    <mat-label class="welcome-message" type="text"> The SGR BookStore!</mat-label>
    <br>
    </div>
</header>
    <div class="">       
            <h1 >You have added {{bookIdLIst.length}} items to your cart:</h1>
    </div>
    
    <div class="row-content" *ngFor="let book of bookIdLIst">
        
        <!-- Mention the list of books added in the cart -->
            <img class="form-img-control" src="../../../assets/images/Image {{book.bookId}}.png" alt="Book14">
            <br>
            <span class="bookName">{{book.bookName}}</span>
            <br>
        <!--  <span class="bookDescription">{{book.bookDescription}}</span> -->
            <br>
            <span class="bookName">{{book.bookAuthor}}</span>
            <br><br>
            <button class="button-ctrl">Remove</button>

    </div>
