<app-header></app-header>

<!--<form class="form" [formGroup]="addBookToCartForm">-->
    <form class="form">
    <!--Display books -->
    <div class="form-head" >
        
            <mat-label >You have added following items to your cart:</mat-label>
    </div>
    <div class="row-content">
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br>
            <label class="label-text" for="bookqty" >Quantity</label>
            <br>
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
            <br><br>
            <button class="button-ctrl">Remove from cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 12.png" alt="Book12">
            <br>
            <label class="label-text" for="book"> Book12 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <img class="form-img-control" src="../../../assets/images/Image 14.png" alt="Book14">
            <br>
            <label class="label-text" for="book"> Book 14 name</label>
            <br><br>
            <button class="button-ctrl">Add to Cart</button>
        </mat-form-field>
    </div>
    </form>
