.header{
    padding:15px 0;
    background-color:#571919;
    height:70px;
}
.content-header{
    position: relative;
    align-items:stretch;
    border: 0px solid green;
    color:antiquewhite;
}
.logo-content{
    position:absolute;
    top:20px;
    left:25px;
    justify-content:left;
    align-items:center;
    border: 0px solid green;
}
.welcome-message{
    position:absolute;
    top:auto;
    left: 600px;
    font-size: xx-large;
    color: rgb(238, 232, 232);
    justify-content: space-between;
}
.sort{
    margin-inline-end: 5px;
    color: aqua;
}
.form-img-control{
    background:transparent;
    opacity:1;
}
.sort-option{
    color:black;
    text-align: center;
    background-color: aqua;
}
.sort-option1{
    color:white;
    text-align: center;
    background-color: aqua;
}
.row-content{
    flex-direction: column;
    margin-left: 30px;
    margin-right:30px;
    margin-top: 40px;
    margin-bottom: 50px;
    border:auto;
}
.example-full-width{
   
    border: 10px;
    margin: 10px;
}
.button-ctrl{
    width: auto;
}
