<app-header></app-header>

<div class="form-content">
    <form class="form" >
    <div class="form-head">Login User</div>
        

    
    
    <!--Input Email ID -->
    <mat-form-field class="example-full-width" appearance="outline">
        <label class="label-text" for="email" >Username</label>
        <input matInput type="name" class="form-control" placeholder="Enter Your Email id" formControlName="email">
    </mat-form-field>
    
    <!--- Input Password -->
    <div class="row-content">
        <mat-form-field class="example-full-width" appearance="outline">
        <label class="label-text" for="phone" >Password</label>
        <input matInput type="password" class="form-control" placeholder="Enter Your Password" formControlName="password">
    </mat-form-field>
    </div>


    <div class="buttonParent">
    <a routerLink="/home-page">
        <button mat-raised-button color="accent" class="resetButton button cancelButton">Cancel</button>
    </a>
    <div class="submit-reset">
        <button mat-raised-button type="submit" class="button submitButton" id="submitButton" >Submit</button>
        <button mat-raised-button color="accent" type="reset" class="resetButton button">Reset</button>
    </div>
    </div>
    </form>
</div>