<header>
    <div class="navbar">
        <img src="/Bookstore/src/assets/images/education.png" style="margin-left: 30px;">
        <a class="active" href="#">BOOK STORE</a>
      </div>
  </header> 
  <div>
      <div class="container"><br>
        <div>
        <label class="head-text">SIGN IN</label><br><br>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf = "!forgotpass">
          <div class="example-container " >
            <mat-form-field class="mat-form-field-infix"  appearance="outline">
              <mat-label>Enter your email</mat-label>
                 <input matInput placeholder="abc@example.com" formControlName="username" required>
               </mat-form-field>
      
              <mat-form-field style="width: 450px;" appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <input type="password" matInput  formControlName="password">
            </mat-form-field><br>
            <div style="margin-left: 8%;">
                <mat-checkbox class="example-margin" >Remember Me</mat-checkbox>
                <a href="#" style="margin-left: 15%; color: #A03037; text-decoration: none;" (click) = "onForgotPassword()"> Forgot Password !</a>
            </div><br>
            <button type="submit" class="btn btn-primary btn-lg login-button">LOGIN</button><br><br>
            <p style="margin-left: 28%; ">Not a member?
              <a href="" [routerLink]="['/register']" routerLinkActive="router-link-active" style="color: #A03037; text-decoration: none; margin-left: 5px;">Register</a>
            </p>
          </div>
        </form>
        <form [formGroup]="formGroup" (ngSubmit)="onVerify()" *ngIf="forgotpass">
          <div class="example-container " >
            <mat-form-field class="mat-form-field-infix"  appearance="outline">
              <mat-label>Enter your email</mat-label>
                 <input matInput placeholder="pat@example.com" formControlName="username" required>
               </mat-form-field>
      
              <mat-form-field style="width: 450px;" appearance="outline">
                  <mat-label>Enter New password</mat-label>
                  <input type="password" matInput  formControlName="password">
            </mat-form-field><br><br>
            <button type="submit" class="btn btn-primary btn-lg login-button ">SUBMIT</button><br><br>
          
          </div>
        </form>
      </div>
        <br>
      </div>
      </div>
  