<div class="form-content">
    <form class="form" [formGroup]="resetPasswordForm">
    <div class="form-head"> Reset Password</div>

    <!--Input Token -->
    <mat-form-field class="example-full-width" appearance="fill">
        <label class="label-text" for="token"> Token</label>
        <input matInput type="name" class="form-control" placeholder="Enter the token " formControlName="token">
    </mat-form-field>
    
    <!--- Input New Password -->
    <div class="row-content">
        <mat-form-field class="example-full-width" appearance="fill">
        <label class="label-text" for="password" > New Password</label>
        <input matInput type="password" class="form-control" placeholder="Enter new Password" formControlName="password">
    </mat-form-field>
    </div>


    <div class="buttonParent">
    <a routerLink="/home-page">
        <button mat-raised-button color="accent" class="resetButton button cancelButton">Cancel</button>
    </a>
    <div class="submit-reset">
        <button mat-raised-button type="submit" class="button submitButton" id="submitButton" (click)="onSubmit()">Submit</button>
        <button mat-raised-button color="accent" type="reset" class="resetButton button">Reset</button>
    </div>
    </div>
    </form>
</div>