<header>
    <div class="navbar">
        <img src="/Bookstore/src/assets/images/education.png" style="margin-left: 30px;">
        <a class="active" href="#">BOOK STORE</a>
      </div>
  </header> 
  
  <div style="padding: 10%;">
  <div class="container" ><br>
      <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()" style="text-align: center;">
          <h1 class="h4 mb-4 head" >SIGN UP</h1>
              <div >
                <mat-form-field appearance="outline" style="width: 25% ;">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" formControlName="first_name">
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline" style="width: 25% ;">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" formControlName="last_name">
                </mat-form-field>
                &nbsp;
              </div>
  
              <div>
                  <mat-form-field appearance="outline">
                      <mat-label>Email Id</mat-label>
                      <input matInput placeholder="Email" formControlName="email_id">
                  </mat-form-field>
              </div>
  
              <div >
                  <mat-form-field appearance="outline" style="width: 25% ;">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field appearance="outline" style="width: 25% ;">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="birth_date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  &nbsp;
                </div>
                <button type="submit" class="btn btn-primary btn-lg signup-button">SIGN UP</button><br><br>
      </form>
  </div>
  </div>
  
