<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="navbar">
        <img src="/Bookstore/src/assets/images/education.png" style="margin-left: 30px;">
        <a class="active" href="#">BOOK STORE</a>
        <i class="fa cart-icon" [routerLink]="['/cart']" routerLinkActive="router-link-active">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'>{{bookIdLIst.length}}</span>
        <i class="fa fa-sign-out logout" aria-hidden="true" (click)="backToLOginPage()"></i>
    </div>
</header> 

<div class="container" >
  <div class="header">
    <label class="header-text">Books</label ><br>
    <span class="header-total">({{books.length}} Items)</span>

    <div class="dropdown">
      <button class="dropbtn">Sort By Relevance</button>
      <div class="dropdown-content">
        <a (click)="Onsort(1)">Price: High to Low</a>
        <a (click)="Onsort(2)">Price: Low to High</a>
        <a (click)="Onsort(3)">Newest Arival</a>
      </div>
    </div>
  </div>
  
  <div class="row1">
    <br style="margin-left: 30px;">
    <div class="card" *ngFor = "let book of books">
      <img class="card-img-top" src={{book.logo}} alt="Card image cap">
      <div class="card-body">
          <span class="card-title">{{book.name}}</span>
          <h3 class="card-subtitle mb-2 text-muted">{{book.author}}</h3>
          <h6  *ngIf="book.quantity == 0; else logged" style="color: red;"><b>{{sold}}</b></h6>
          <ng-template #logged>
          </ng-template>
        <p class="card-price"><b>Rs. {{book.price}}</b></p>
        
        <div *ngIf = "!bookIdLIst.includes(book.book_id) && book.quantity != 0; else loggedOut" >
          <button class="cart" (click) = "addToCart(book.book_id)" >ADD TO CART</button>
          <button class="wishlist">WISHLIST</button>
        </div>
        <ng-template #loggedOut>
          <button *ngIf="book.quantity != 0;" class="card-link btn btn-primary btn-sm cart">ADDED TO BAG</button>
        </ng-template>
        <button *ngIf="book.quantity == 0;" class="card-link btn btn-primary btn-sm cart">ADD TO WISHLIST</button>
      </div>
    </div>
  </div> 
</div>
